<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702110872369-2dud6qvocbkhkc83jbbs6d8via92cuhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702110872369-2dud6qvocbkhkc83jbbs6d8via92cuhk</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Mw53A8cHyZqnvooTUvf6qdggQm5d8-M</string>
	<key>GCM_SENDER_ID</key>
	<string>702110872369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zootube-flutter</string>
	<key>PROJECT_ID</key>
	<string>zootube-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>zootube-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702110872369:ios:848549ef3fdea51b023610</string>
</dict>
</plist>